[package]
name = "ghash"
version = "0.0.0"
authors = ["RustCrypto Developers"]
license = "MIT OR Apache-2.0"
description = """
Universal hash over GF(2^128) useful for constructing a Message Authentication Code (MAC),
as in the AES-GCM authenticated encryption cipher.
"""
documentation = "https://docs.rs/ghash"
repository = "https://github.com/RustCrypto/universal-hashes"
readme = "README.md"
keywords = ["aes-gcm", "crypto", "universal-hashing"]
categories = ["cryptography", "no-std"]
edition = "2018"

[dependencies]
polyval = { version = "0.0.1", path = "../polyval" }

[dev-dependencies]
hex-literal = "0.1"

[features]
std = ["polyval/std"]

[badges]
maintenance = { status = "experimental" }
travis-ci = { repository = "RustCrypto/universal-hashes" }
