[package]
name = "polyval"
version = "0.4.0-pre"
authors = ["RustCrypto Developers"]
license = "Apache-2.0 OR MIT"
description = """
POLYVAL is a GHASH-like universal hash over GF(2^128) useful for constructing
a Message Authentication Code (MAC)
"""
documentation = "https://docs.rs/polyval"
repository = "https://github.com/RustCrypto/universal-hashes"
readme = "README.md"
keywords = ["aes-gcm-siv", "crypto", "universal-hashing"]
categories = ["cryptography", "no-std"]
edition = "2018"

[badges]
maintenance = { status = "passively-maintained" }

[dependencies]
cfg-if = "0.1"
universal-hash = { version = "= 0.4.0-pre", default-features = false }
zeroize = { version = "1", optional = true, default-features = false }

[dev-dependencies]
criterion = "0.3.0"
criterion-cycles-per-byte = "0.1.1"
hex-literal = "0.1"

[features]
std = ["universal-hash/std"]

[[bench]]
name = "polyval"
harness = false
