[package]
name = "polyval"
version = "0.3.0"
authors = ["RustCrypto Developers"]
license = "MIT OR Apache-2.0"
description = """
POLYVAL is a GHASH-like universal hash over GF(2^128) useful for constructing
a Message Authentication Code (MAC)
"""
documentation = "https://docs.rs/polyval"
repository = "https://github.com/RustCrypto/universal-hashes"
readme = "README.md"
keywords = ["aes-gcm-siv", "crypto", "universal-hashing"]
categories = ["cryptography", "no-std"]
edition = "2018"

[dependencies]
universal-hash = { version = "0.3", default-features = false }
zeroize = { version = "1.0.0-pre", optional = true, default-features = false }

[dev-dependencies]
hex-literal = "0.1"

[features]
std = ["universal-hash/std"]

[badges]
maintenance = { status = "experimental" }
