[package]
name = "polyval"
version = "0.0.1"
authors = ["RustCrypto Developers"]
license = "MIT OR Apache-2.0"
description = """
POLYVAL is a GHASH-like universal hash over GF(2^128) useful for constructing
a Message Authentication Code (MAC)
"""
documentation = "https://docs.rs/polyval"
repository = "https://github.com/RustCrypto/universal-hashes"
readme = "README.md"
keywords = ["aes-gcm-siv", "crypto", "universal-hashing"]
categories = ["cryptography", "no-std"]
edition = "2018"

[dependencies]
universal-hash = { version = "0.2", default-features = false }
zeroize = { version = "0.10", optional = true, default-features = false }

[dev-dependencies]
hex-literal = "0.1"

[features]
default = []
std = ["universal-hash/std"]
insecure-soft = []

[badges]
maintenance = { status = "experimental" }
travis-ci = { repository = "RustCrypto/universal-hashes" }

[package.metadata.docs.rs]
all-features = true
