[package]
name = "poly1305"
version = "0.7.1" # Also update html_root_url in lib.rs when bumping this
authors = ["RustCrypto Developers"]
license = "Apache-2.0 OR MIT"
description = "The Poly1305 universal hash function and message authentication code"
documentation = "https://docs.rs/poly1305"
repository = "https://github.com/RustCrypto/universal-hashes"
keywords = ["crypto", "chacha20", "mac", "salsa20", "universal-hashing"]
categories = ["cryptography", "no-std"]
readme = "README.md"
edition = "2018"

[dependencies]
opaque-debug = "0.3"
universal-hash = { version = "0.4", default-features = false }
zeroize = { version = "=1.3", optional = true, default-features = false }

[target.'cfg(any(target_arch = "x86_64", target_arch = "x86"))'.dependencies]
cpufeatures = "0.2"

[dev-dependencies]
hex-literal = "0.3"

[features]
force-soft = []
std = ["universal-hash/std"]
