name: polyval

on:
  pull_request:
    paths:
      - ".github/workflows/polyval.yml"
      - "polyval/**"
      - "Cargo.*"
  push:
    branches: master
    paths:
      - "polyval/**"
      - "Cargo.*"

defaults:
  run:
    working-directory: polyval

env:
  CARGO_INCREMENTAL: 0
  RUSTFLAGS: "-Dwarnings"

jobs:
  # Ensure crate builds on a `no_std` target
  build-no_std:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: stable
          targets: thumbv7em-none-eabi
      - run: cargo check --target thumbv7em-none-eabi --release --features zeroize

  # Tests with CPU feature detection enabled
  test-autodetect:
    strategy:
      matrix:
        include:
          # `x86` Linux (32-bit)
          - target: i686-unknown-linux-gnu
            rust: 1.85.0 # MSRV
            deps: sudo apt update && sudo apt install gcc-multilib
          - target: i686-unknown-linux-gnu
            rust: stable
            deps: sudo apt update && sudo apt install gcc-multilib

          # `x86_64` Linux
          - target: x86_64-unknown-linux-gnu
            rust: 1.85.0 # MSRV
          - target: x86_64-unknown-linux-gnu
            rust: stable

          # `aarch64` Linux
          - target: aarch64-unknown-linux-gnu
            rust: 1.85.0 # MSRV
            runner: ubuntu-24.04-arm
          - target: aarch64-unknown-linux-gnu
            rust: stable
            runner: ubuntu-24.04-arm

          # `aarch64` macOS
          - target: aarch64-apple-darwin
            rust: 1.85.0 # MSRV
            runner: macos-latest
          - target: aarch64-apple-darwin
            rust: stable
            runner: macos-latest
    runs-on: ${{ matrix.runner != '' && matrix.runner || 'ubuntu-latest' }}
    steps:
      - uses: actions/checkout@v6
      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: ${{ matrix.rust }}
          targets: ${{ matrix.target }}
      - run: ${{ matrix.deps }}
      - run: cargo check --target ${{ matrix.target }} --all-features
      - run: cargo test --target ${{ matrix.target }}
      - run: cargo test --target ${{ matrix.target }} --features zeroize
      - run: cargo test --target ${{ matrix.target }} --all-features --release

  # Tests for the CLMUL backend (forced)
  test-clmul:
    runs-on: ubuntu-latest
    env:
      RUSTFLAGS: -Ctarget-cpu=haswell -Ctarget-feature=+sse2,+sse4.1
    strategy:
      matrix:
        include:
          # `x86` Linux (32-bit)
          - target: i686-unknown-linux-gnu
            rust: 1.85.0 # MSRV
            deps: sudo apt update && sudo apt install gcc-multilib
          - target: i686-unknown-linux-gnu
            rust: stable
            deps: sudo apt update && sudo apt install gcc-multilib

          # `x86_64` Linux
          - target: x86_64-unknown-linux-gnu
            rust: 1.85.0 # MSRV
          - target: x86_64-unknown-linux-gnu
            rust: stable
    steps:
      - uses: actions/checkout@v6
      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: ${{ matrix.rust }}
          targets: ${{ matrix.target }}
      - run: ${{ matrix.deps }}
      - run: cargo check --target ${{ matrix.target }} --all-features
      - run: cargo test --target ${{ matrix.target }} --release
      - run: cargo test --target ${{ matrix.target }} --release --features zeroize
      - run: cargo test --target ${{ matrix.target }} --release --all-features

  # Tests for the portable software backend (forced)
  test-soft:
    env:
      RUSTFLAGS: '-Dwarnings --cfg polyval_backend="soft"'
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          # `x86` Linux (32-bit)
          - target: i686-unknown-linux-gnu
            rust: 1.85.0 # MSRV
            deps: sudo apt update && sudo apt install gcc-multilib
          - target: i686-unknown-linux-gnu
            rust: stable
            deps: sudo apt update && sudo apt install gcc-multilib

          # `x86_64` Linux
          - target: x86_64-unknown-linux-gnu
            rust: 1.85.0 # MSRV
          - target: x86_64-unknown-linux-gnu
            rust: stable
    steps:
      - uses: actions/checkout@v6
      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: ${{ matrix.rust }}
          targets: ${{ matrix.target }}
      - run: ${{ matrix.deps }}
      - run: cargo check --target ${{ matrix.target }} --all-features
      - run: cargo test --target ${{ matrix.target }} --release
      - run: cargo test --target ${{ matrix.target }} --release --features zeroize
      - run: cargo test --target ${{ matrix.target }} --release --all-features

  # Cross-compiled tests
  test-cross:
    strategy:
      matrix:
        include:
          - target: armv7-unknown-linux-gnueabi # ARMv7 (32-bit)
          - target: powerpc-unknown-linux-gnu   # PPC32 (big endian)
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - run: ${{ matrix.deps }}
      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: stable
          targets: ${{ matrix.target }}
      - run: cargo install cross
      - run: cross test --target ${{ matrix.target }} --release
      - run: cross test --target ${{ matrix.target }} --release --features zeroize
      - run: cross test --target ${{ matrix.target }} --release --all-features

  # Test using `cargo miri`
  test-miri:
    runs-on: ubuntu-latest
    env:
      MIRIFLAGS: "-Zmiri-symbolic-alignment-check -Zmiri-strict-provenance"
    strategy:
      matrix:
        target:
          - aarch64-unknown-linux-gnu
          - x86_64-unknown-linux-gnu
    steps:
      - uses: actions/checkout@v6
      - uses: dtolnay/rust-toolchain@nightly
      - run: rustup component add miri && cargo miri setup
      - run: cargo miri test --target ${{ matrix.target }} --lib

  # Test WASM using `wasmtime`
  test-wasm:
    runs-on: ubuntu-latest
    env:
      CARGO_TARGET_WASM32_WASIP1_RUNNER: "wasmtime"
    steps:
      - uses: actions/checkout@v6
      - uses: bytecodealliance/actions/wasmtime/setup@v1
      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: stable
          targets: wasm32-wasip1
      - run: cargo test --target wasm32-wasip1
      - run: cargo test --target wasm32-wasip1 --all-features
      - run: cargo test --target wasm32-wasip1 --all-features --release
